:host {
  flex: 1;
  border-left: 2px solid dodgerblue;
}

.name {
  text-align: center;
}
.score {
  margin: 5px
}

.dart {
  background-color: dodgerblue;
  color: white;
  margin: 5px;
  padding: 5px;
}

.visit-score {
  margin: 5px
}
