<div style="display: flex">
  <span style="flex: 1 1 100%; border: 1px solid">1123</span>
  <span  style="flex: 1 1 100%; border: 1px solid">2</span>
  <span  style="flex: 1 1 100%; border: 1px solid">3</span>

</div>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
<p>module-sidebar works!</p>
