<button mat-stroked-button color="primary" (click)="switchPlayer()">Switch Player</button>
<button mat-stroked-button color="primary" (click)="potRed()">Pot red</button>
<button mat-stroked-button color="primary" (click)="potYellow()">Pot yellow</button>
<button mat-stroked-button color="primary" (click)="potGreen()">Pot green</button>
<button mat-stroked-button color="primary" (click)="potBrown()">Pot brown</button>
<button mat-stroked-button color="primary" (click)="potBlue()">Pot blue</button>
<button mat-stroked-button color="primary" (click)="potPink()">Pot pink</button>
<button mat-stroked-button color="primary" (click)="potBlack()">Pot Black</button>
<button mat-stroked-button color="primary" (click)="potWhite()">Pot White</button>
<button mat-stroked-button color="primary" (click)="reset()">Reset</button>
<button mat-stroked-button color="primary" (click)="newGame()">New Game</button>
